@model WebOdevi.Models.Appointment
@{
    ViewData["Title"] = "Eğitmen Detayı";
}

<div class="container mt-4" style="margin-top:120px; padding:90px 20px;">
    <div class="card shadow-lg">
        <div class="row g-0">
            <div class="" style=" padding:0px 10px;">
                <a asp-action="Index" class="btn btn-secondary mt-3">Geri Dön</a>
            </div>

                 
                </div>



            </div>
        </div>
    </div>
</div>
</div>