@{
    ViewData["Title"] = "Home Page";
}
<div class="page-wrapper">
    <div class="welcome-text">
        <h1>Hoş Geldin!</h1>
        <p>Eğitmenlerimizi ve spor salonu hizmetlerimizi keşfetmeye başlayın!</p>
    </div>  
</div>
